<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi9EOusZ-K6FZ-i-0oyE7pg2yKJrjDZhA</string>
	<key>GCM_SENDER_ID</key>
	<string>54664946784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hegdesuvidha.aioffice</string>
	<key>PROJECT_ID</key>
	<string>officeai-registry</string>
	<key>STORAGE_BUCKET</key>
	<string>officeai-registry.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54664946784:ios:019bce32aea2f0f2ce0f05</string>
</dict>
</plist>